* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(29, 29, 29); */
}

.masthead img {
  width: 100vw;
  object-fit: cover;
  object-position: 0px -250px;
  z-index: -1;
  position: relative;
  opacity: 90%;
}
.masthead {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 400px;
  display: flex;
  overflow: hidden;
  box-shadow: 10px 10px 80px 50px rgba(8, 0, 1, 0.657) inset;
  border-bottom: 20px solid black;
}

/* Navigation */
.container {
  margin: 100px auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80vw;
  z-index: -3;
}
.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 900;
}
.nav button {
  cursor: pointer;
  align-items: center;
  width: 200px;
  height: 40px;
  color: white;
  display: flex;
  /* flex: auto; */
  font-family: "Roboto Slab";
  font-size: 1em;
  font-weight: 700;
  padding: 20px;
  /* background: #0d4e8f; */
  background: black;
  border-style: none;
  border-left: 1pt solid rgb(58, 58, 58);
  border-right: 1pt solid rgb(58, 58, 58);
}
.nav button:hover {
  background: #fcdd19;
  color: #0d4e8f;
}
